.container{
  border: 1px solid black;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
}

.sidebar{
  border: 2px solid blue;
  background-color: aqua;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 100px 3fr 1fr;
}

.sidebar > div {
  margin: 1rem;
}

.dashboard{
  background-color: orange;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header{
  border: 2px solid red;
  background-color: pink;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 80px 1fr;
}

.profile-avatar{
  height: 30px;
}

.greeting-avatar{
  height: 100px;
}

.content{
  border: 2px solid green;
  background-color: lime;
  display: grid;
  grid-template-columns: 4fr minmax(100px, 1fr);
}

.header > div {
  border: 2px solid brown;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 600px;
}

.projects, .right-pane{
  border: 2px solid yellow;
}

.project-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.projects{
  display: grid;
  grid-template-rows: 50px 8fr;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}



.project-card{
  border: 1px solid blue;
}