body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
}

.container{
  border: 1px solid black;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 4fr;
}

.sidebar{
  background-color: #1992D4;
  /* grid-row: 1 / 3; */
  /* grid-column: 1 / 2 ; */
  display: grid;
  grid-template-rows: 100px 2fr 1fr;
  height: 100%;
  position: fixed;
  z-index: 1; 
  width: 256.5px;
  left: 0;
  top: 0;
}

.sidebar > div {
  margin: 1rem;
}

.sidebar-icon {
  height:19px;
  margin-right: 8px;
  filter: invert(100%);
}

h1 {
  font-size: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo > img {
  height: 50px;
  padding: 5px;
  color: white;
  filter: invert(100%)
}

.menu, .admin-tools {
  color: white;
  font-weight: 650;
  display: flex;
  align-items: flex-start;
}

li {
  list-style: none;
  margin-bottom: 22px;
  display:flex;
  text-align: left;
}

ul {
  text-align: left;
  padding-left: 15px;
}
.dashboard{
  /* background-color: orange; */
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 150px 4fr;
  /* margin-left: 250px; */
  left: 0;
}

.header{
  /* border: 2px solid red; */
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.7fr 0.8fr;
  grid-row: 1 / 2;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.19);  z-index: 1;
}

.profile-avatar{
  height: 30px;
}

.greeting-avatar{
  height: 80px;
}

.content{
  /* border: 2px solid green; */
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 4fr minmax(100px, 1fr);
}


.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 7fr;
  margin-left: 30px;
  gap: 15px;
  align-items: center;
}

.greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting-text > h4 {
  margin-top: 5px;
  font-size: 20px;
}

.greeting-text > p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin-right: 50px;
}

.tools > button {
  background-color: #1992D4;
  border: none;
  color: white;
  width: 85px;
  height: 35px;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0 0.4px 0.5px 0 rgba(0, 0, 0, 0.2), 0 0.4px 0.5px 0 rgba(0, 0, 0, 0.19);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  width: 600px;
  background-color: #e2e8f0;
  border: none;
  border-radius: 10px;
  height: 20px;
}

.projects, .right-pane{
  /* border: 2px solid yellow; */
}

.project-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.projects{
  display: grid;
  grid-template-rows: 50px 8fr;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.project-card{
  /* border: 1px solid blue; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  text-align: left;
  border-radius: 15px;
  box-shadow: 2px 1.5px 4px 0.5px #969696;
  border-left: 7px solid #f0b429;
}

.project-card-text{
  margin: 1rem;
  margin-left: 28px;
}

.project-card-text > h4{
  margin-bottom: 0;
}

.project-card-text > p{
  margin-top: 7px;
  color: grey;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  margin-top:20px;
  gap: 18px;
}

.card-icons > img {
  height: 24px;
}

.right-pane{
  display: grid;
  padding: 10px;
}

.announcements{
  display: grid;
  grid-template-rows: 20px 5fr;
  gap: 35px
}

.announcement-card, .trending-card{
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 1.5px 4px 0.5px #969696;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announce-text, .announce-heading{
  margin: 1.4rem;
}

.announce-text{
  font-size: 12px;
  margin-top: 0;
}

.announce-heading {
  font-size: 16px;
  margin-bottom: 3px;
  font-weight: 500;
}

.announcement-divider {
  border: 0.5px solid #969696;
  width: 140px;
  filter: opacity(30%);
}

.trending{
  display: grid;
  grid-template-rows: 20px 4fr;
  gap: 35px
}

.trend{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin: 1rem;
  gap: 10px;
}

.trend-avatar{
  height: 40px;
}

.trend-profile-desc{
  font-size: 10px;
  margin-top: 0;
  color: grey;
}

.trend-profile-handle{
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 0;
}